static/archive/sfc/documents/distributed/syllabus.dtd

<!ELEMENT course (control,class)>
<!-- control -->
<!ELEMENT control (title, code, year, term, room, measure, staff)>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title lang CDATA "japanese">

<!ELEMENT code (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT term (#PCDATA)>
<!ELEMENT room (#PCDATA)>
<!ELEMENT measure (#PCDATA)>

<!ELEMENT staff (teacher+)>
<!ELEMENT teacher (name, affiliation, email)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT affiliation (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!-- class -->
<!ELEMENT class (abstract, material, schedule, evaluation?, other?)>
<!ATTLIST class num ID #REQUIRED>
<!ELEMENT abstract (#PCDATA)>
<!ELEMENT material (#PCDATA)>
<!ELEMENT schedule (lesson+)>
<!ELEMENT lesson (subject, date, description?, assignment*)> 
<!ELEMENT subject (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!ELEMENT evaluation (#PCDATA)>
<!ELEMENT other (#PCDATA)>
